<article class="highlight-item">
  <p class="highlight-item__title">
    {{ partial "icons/paperclip.html" . }}
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </p>
  {{ if (.GetTerms "tags") }}
  <p class="highlight-item__tags">
    {{ range (.GetTerms "tags") }}
    <a href="{{ .Permalink }}">#{{ .LinkTitle | lower }}</a>
    {{ end }}
  </p>
  {{ end }}
  <p class="highlight-item__date">
    {{ partial "icons/calendar.html" . }} {{ .Date.Format "2006-01-02" }}
  </p>
  <div class="highlight-item__content">{{ partial "filter-preview-content.html" (dict "content" .Content "type" "highlight") }}</div>
</article>
