---
import Base from "../../layouts/Base.astro";
---

<Base title="Blogroll" section="links">
  <main>
    <div class="links-page">
      <div class="section-tabs">
        <a href="/links/saved">Saved</a>
        <a href="/links/highlights">Highlights</a>
        <a href="/links/blogroll" class="active">Blogroll</a>
      </div>
      <div class="links-preamble">
        <p>Here's this fixed directory of links that I try to update and prune and organise into sections that feel right. I also sometimes make posts that round up interesting things I've found in the month or so prior. You can also check out <a href="/links/highlights">highlights</a>, which are just excerpts from elsewhere that I saved, and posts tagged <a href="/tags/links">links</a>, where I generally round up a bunch of links I found interesting. Finally <a href="/links/saved">saved links</a> are just things I quickly earmarked online as worth saving.</p>
      </div>
      <div class="links-blogroll">
        <h3>Blogs &amp; Personal Websites</h3>
        <ul>
          <li><a href="https://omglord.com">OMGLORD</a> - A designer that has a good link directory</li>
          <li><a href="https://devinargenta.com">Devin Argenta</a> - I know him I like him</li>
          <li><a href="https://monokai.nl">Monokai</a> - The creator of the Monokai font creates nice web experiments too</li>
          <li><a href="https://100r.co/site/home.html">100 Rabbits</a> - Permacomputing couple on a sailboat</li>
          <li><a href="https://buttondown.com/melaniemusings/">Melanie Musings</a> - A personal blog</li>
          <li><a href="https://nodaysoff.run/">No Days Off</a> - A running freak is also a data visualisation freak</li>
          <li><a href="https://www.deezlinks.com/">Deez Links</a> - Great blog, points off for Substack</li>
          <li><a href="https://maggieappleton.com/">Maggie Appleton</a> - Best thinker about things</li>
          <li><a href="https://anhvn.com/">avhvn</a> - Brilliant illustrator with a cosy blog</li>
        </ul>

        <h3>Outside</h3>
        <ul>
          <li><a href="https://postcrossing.com">Postcrossing</a> - Postcard exchange, this was huge during lockdown</li>
          <li><a href="https://www.walkhighlands.co.uk/">Highland Walks</a> - Personally vetted walks in the Highlands</li>
          <li><a href="https://www.london-footprints.co.uk/walkslist.htm">London Walks</a> - The same but for those trapped in London</li>
          <li><a href="https://fatmap.com/guidebooks">FATMAP</a> - Curated and well-mapped walks in Britain</li>
          <li><a href="https://www.fieggen.com/shoelace/">Ian's Shoelace Website</a> - When I was a teenager I got into shoelaces</li>
          <li><a href="https://www.treetalk.co.uk/">Tree Talk</a> - London Tree Explorer</li>
          <li><a href="https://diamondgeezer.blogspot.com">Diamond Geezer</a> - Incredibly detailed London blog focused on trivia and transport</li>
          <li><a href="https://www.dansmc.com">Dan's Motorcycle Repair Page</a> - I don't own a motorcycle but I love the <em>craft</em></li>
          <li><a href="https://www.jimsboats.com">Jim Machalak's Boat Designs</a> - This is like the online version of an old book I found called <em>Know Your Own Ship</em></li>
          <li><a href="https://www.boat-links.com/boatlink.html">The Mother of all Maritime Links</a> - Again, not a seafarer but just a fan of the sailnet</li>
          <li><a href="https://verifiedvoting.org/election-system/hand-counted-paper-ballots/">Hand-Counted Ballots</a> - How to do democracy</li>
          <li><a href="https://crimethinc.com/2020/09/02/a-demonstrators-guide-to-gas-masks-and-goggles-everything-you-need-to-know-to-protect-your-eyes-and-lungs-from-gas-and-projectiles">A Demonstrator's Guide to Gas Masks and Goggles</a></li>
        </ul>

        <h3>Indie Web</h3>
        <ul>
          <li><a href="https://omg.lol">omg.lol</a> - $20/yr for a domain, Mastodon account, email forwarding and more indie stuff</li>
          <li><a href="https://tilde.town">Tilde Town</a> - Get a user on a Linux box of nerds</li>
          <li><a href="https://solar.lowtechmagazine.com">Low Tech Magazine</a> - The original solar-powered website</li>
          <li><a href="https://compost.party/maintenance/">compost-party</a> - A Berlin solar-powered website running on an old Android phone</li>
          <li><a href="https://matduggan.com/making-rss-more-fun/">Making RSS more fun</a> - RSS as StumbleUpon</li>
          <li><a href="https://blog.feld.me/posts/2025/09/webdav-isnt-dead-yet/">WebDAV Isn't Dead Yet</a> - I love people who can't let it drop</li>
        </ul>

        <h3>Link Directories</h3>
        <ul>
          <li><a href="https://www.electrictrash.com">Electric Trash</a></li>
          <li><a href="https://satyrs.eu/linkroll">Mx Tynehorne's Cabinet of Hypertext Curiosities</a></li>
          <li><a href="https://terra.finzdani.net">Terra</a></li>
          <li><a href="https://href.cool">href.cool</a></li>
          <li><a href="https://gossipsweb.net">Gossip's Web</a></li>
          <li><a href="https://bloggy.garden/">Garden of Blogs</a></li>
          <li><a href="https://www.mollywhite.net/blogroll/">Molly White's Blogroll</a></li>
          <li><a href="https://www.jacobhall.net/links.html">Jacob Hall's Linkroll</a></li>
        </ul>

        <h3>Tools</h3>
        <ul>
          <li><a href="https:/barbra.io">Barbra</a> - Flash cards</li>
          <li><a href="https://oldfashioned.tech/">Old Fashioned</a> - Cocktail recipes</li>
          <li><a href="https://b-ok.cc">ZLibrary</a> - Free e-books</li>
          <li><a href="annas-archive.se">Annas Archive</a> - Free knowledge!</li>
          <li><a href="https://witeboard.com/">Witeboard</a> - Online shared whiteboard</li>
          <li><a href="https://screenplaysubs.com/">ScreenplaySubs</a> - Read screenplays alongside Netflix</li>
          <li><a href="https://github.com/danburzo/percollate">Percollate</a> - Convert web pages to nice e-reader renders</li>
          <li><a href="https://boardgamegeek.com/thread/848512/all-diy-links-you-never-knew-you-needed">All the DIY Links You Never Knew You Needed</a> - Links and pointers for DIY tabletop games</li>
          <li><a href="https://chestofbooks.com">Chest of Books</a> - A collection of non-fiction books painstakingly converted to HTML</li>
          <li><a href="https://deathgenerator.com">Death Generator</a> - Generate the death screens from classic games with whatever text you want</li>
        </ul>

        <h3>Language</h3>
        <ul>
          <li><a href="https://phrontistery.info/">The Phrontistery</a> - A website dedicated to rare words</li>
          <li><a href="https://www.etymonline.com/">Etymonline</a> - Etymology resource for people who can't afford OED</li>
          <li><a href="https://cs.stanford.edu/~kach/words.txt">My Knipe List</a> - I think this is rot-n encoded and I don't remember what it is</li>
        </ul>

        <h3>Coding</h3>
        <ul>
          <li><a href="https://simonwillison.net/">Simon Willison</a> - Best writer about AI</li>
          <li><a href="https://emily.space/posts/251023-uv">uv is the best thing to happen to Python in a decade</a></li>
          <li><a href="https://learnxinyminutes.com">Learn X in Y minutes</a> - The fatest reference I've found for checking language syntaxes</li>
          <li><a href="https://www.samanthaming.com/tidbits/86-window-location-cheatsheet/"><code>window.location</code> Cheatsheet</a></li>
          <li><a href="https://css-tricks.com/a-guide-to-the-responsive-images-syntax-in-html/">Responsive Image Syntax in HTML</a></li>
          <li><a href="https://www.benawad.com/scraping-recipe-websites">Scraping Recipe Websites</a></li>
          <li><a href="https://css-tricks.com/chapter-1-birth/">Web History</a></li>
          <li><a href="https://antirez.com/news/124">Redis Inventor on Code Comments</a></li>
          <li><a href="https://rixx.de/blog/goodreads-sqlite/">Goodreads to SQLite</a></li>
          <li><a href="https://postgresqlco.nf/en/doc/param/">Postgres Configuration for Humans</a></li>
          <li><a href="https://linuxcommandlibrary.com/basic/oneliners.html">Linux Command Library</a> - Handy Linux one-liners</li>
        </ul>

        <h3>History</h3>
        <ul>
          <li><a href="https://policeviolence.wordpress.com/historical-moments/">Pamphlets About Police Violence</a></li>
          <li><a href="https://acoup.blog/2020/07/09/collections-how-your-history-gets-made/">How Your History Gets Made</a></li>
          <li><a href="https://archive.org/details/cbk">Cookbooks and Home Economics</a> - Internet Archive of historical cookbooks</li>
          <li><a href="https://publicdomainreview.org/">The Public Domain Review</a></li>
          <li><a href="https://artsandculture.google.com/story/800-years-of-english-handwriting/eAURodcOgMzFIw">800s Years of English Handwriting</a> - Points off for Google</li>
        </ul>

        <h3>Writing</h3>
        <ul>
          <li><a href="https://www.publishersmarketplace.com/">Publishers Marketplace</a></li>
          <li><a href="https://www.simplyscripts.com/">Simply Scripts</a></li>
          <li><a href="https://berlinwritersworkshop.com/">Berlin Writers' Workshop</a></li>
          <li><a href="https://whoisbn.net/fr/">QUISBN</a> - Who gets the money for this book?</li>
          <li><a href="https://huijzer.xyz/posts/98">Printing a book at home</a> - If the publishers say no</li>
        </ul>

        <h3>Science</h3>
        <ul>
          <li><a href="https://openai.com/blog/emergent-tool-use/">Emergent Tool Use from Multi-Agent Interaction</a> - Great AI demonstration showing human-like behaviour adaptation</li>
          <li><a href="https://languagelog.ldc.upenn.edu/myl/IRCS_Prosody1992/TableOfContents.html">Proceedings of the IRCS Workshop on Prosody in Natural Speech</a> - One summer in the 90s</li>
          <li><a href="https://www.susanjfowler.com/blog/2016/8/13/so-you-want-to-learn-physics">So you want to learn physics</a></li>
          <li><a href="https://pudding.cool/">The Pudding</a> - The absolute best in using web technologies when publishing explainers</li>
        </ul>

        <h3>Film</h3>
        <ul>
          <li><a href="https://www.youtube.com/watch?v=Uu5jVmIZBhE">Phantom Thread camera tests</a></li>
        </ul>
      </div>
    </div>
  </main>
</Base>
