---
import Base from "../../layouts/Base.astro";
import { LinksPage } from "../../components/LinksList";
import PagePreamble from "../../components/PagePreamble.astro";
import { getLinks } from "../../lib/cms-data";

const savedLinks = await getLinks();
const saved = (savedLinks as Array<{ title: string; url: string; date: string; tags?: string[] }>)
  .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
---

<Base title="Links" section="links">
  <main>
    <PagePreamble url="/links/saved" />
    <LinksPage activeTab="saved" data={{ saved }} client:load />
  </main>
</Base>
