---
import Base from "../../layouts/Base.astro";
import SubNav from "../../components/SubNav.astro";
import { BookGrid } from "../../components/PaginatedList";
import { getBooks } from "../../lib/cms-data";

const books = await getBooks("read") as Array<{
  title: string;
  author: string;
  date_updated: string;
  image_url?: string;
  hardcover_url?: string;
}>;
---

<Base title="Read" section="books">
  <main class="single-main single-main--books">
    <SubNav section="books" />
    <h1 class="single-main__title">Read</h1>
    <BookGrid books={books} client:load />
  </main>
</Base>
