---
import Base from "../layouts/Base.astro";
import Pagination from "../components/Pagination.astro";
---
<Base title="really.lol" description="A scrapbook, a journal, and a logbook.">
  <main class="home-main">
    <p>Astro migration in progress.</p>
    <Pagination currentPage={1} lastPage={10} nextUrl="/test/2/" />
  </main>
</Base>
