---
import Base from "../layouts/Base.astro";
import readingData from "../data/books/reading.json";

const reading = (readingData as Array<{ title: string; author: string }>).slice(0, 1);
---

<Base title="really.lol" description="A scrapbook, a journal, and a logbook.">
  <div class="home-main">
    <div class="home-intro">
      <div class="home-component">
        <div class="home-component__reading">
          <dt>Reading</dt>
          {reading.map((book) => (
            <dd><span>{book.title}</span> by {book.author}</dd>
          ))}
        </div>
        <img
          alt="A line drawing of the solar system"
          class="home-hero-image"
          src="/img/layout/solar-system.jpg"
        />
      </div>
    </div>
  </div>
</Base>
