---
import "../styles/style.css";
---
<html lang="en-gb">
  <head><title>really.lol</title></head>
  <body>
    <header class="site-header">
      <div class="site-header-wrapper">
        <h1>really.lol</h1>
      </div>
    </header>
  </body>
</html>
