{{ $srcParam := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $relative := strings.TrimPrefix "/" $srcParam }}
{{ $resource := "" }}
{{ with .Page.Resources.GetMatch $relative }}
  {{ $resource = . }}
{{ else }}
  {{ with resources.Get $relative }}
    {{ $resource = . }}
  {{ end }}
{{ end }}
{{ if $resource }}
  {{ if in $relative ".gif" }}
    <img src="{{ $resource.RelPermalink }}" alt="{{ $alt }}">
  {{ else }}
    {{ $resized := $resource.Resize "1000x" }}
    <img src="{{ $resized.RelPermalink }}" alt="{{ $alt }}">
  {{ end }}
{{ else }}
  <img src="{{ $srcParam }}" alt="{{ $alt }}">
{{ end }}
