{{ define "main" }}
<main class="section-main">
  {{ if eq .Section "post" }}
  <img
    alt="A watercolor illustration of mushrooms"
    class="section-hero-image--post"
    src="/img/layout/mushrooms.png"
  />
  {{ end }}
  <h1 class="section-title">{{ .Title }}</h1>
  {{ .Content }} {{ if ne .Section "media" }} {{ $paginator := .Paginate .Pages
  }} {{ range $paginator.Pages }}
  <article class="section-item">
    <h3 class="section-item__title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h3>
    <p class="section-item__date">
      {{ partial "icons/calendar.html" . }}
      <span>{{ .Date.Format "2006-01-02" }}</span>
    </p>
    {{ .Summary }}
  </article>
  {{ end }} {{- partial "pagination.html" . -}} {{ end }}
</main>
{{ end }}
