{{- $content := .content -}}
{{- $type := .type -}}

{{- /* Remove figure blocks (images with captions) */ -}}
{{- $content = replaceRE `<figure>[\s\S]*?</figure>` "" $content -}}

{{- /* Remove shortcode-image divs (images without captions) */ -}}
{{- $content = replaceRE `<div class="shortcode-image">[\s\S]*?</div>` "" $content -}}

{{- /* Remove standalone images */ -}}
{{- $content = replaceRE `<img[^>]*>` "" $content -}}

{{- /* Remove horizontal rules */ -}}
{{- $content = replaceRE `<hr[^>]*>` "" $content -}}

{{- /* Remove unordered lists */ -}}
{{- $content = replaceRE `<ul>[\s\S]*?</ul>` "" $content -}}

{{- /* Remove ordered lists */ -}}
{{- $content = replaceRE `<ol>[\s\S]*?</ol>` "" $content -}}

{{- /* Remove headers (h1-h6) and their content */ -}}
{{- $content = replaceRE `<h[1-6][^>]*>[\s\S]*?</h[1-6]>` "" $content -}}

{{- /* Remove blockquotes for post type only */ -}}
{{- if eq $type "post" -}}
  {{- $content = replaceRE `<blockquote>[\s\S]*?</blockquote>` "" $content -}}
{{- end -}}

{{- /* Clean up extra whitespace */ -}}
{{- $content = replaceRE `\n\s*\n` "\n" $content -}}

{{- $content | safeHTML -}}

