<head>
  <title>
    {{- if .IsHome -}}
      {{ .Site.Title }}
    {{- else if eq .Kind "term" -}}
      {{ partial "tag-pretty-name.html" (dict "tagName" .Title "Site" .Site) }} | {{ .Site.Title }}
    {{- else if .Title -}}
      {{ .Title }} | {{ .Site.Title }}
    {{- else if eq .Section "journal" -}}
      Journal: {{ .Date.Format "Monday 2 January 2006" }} | {{ .Site.Title }}
    {{- else -}}
      {{ .Summary }} | {{ .Site.Title }}
    {{- end -}}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if or (eq .Section "note") (eq .Section "post") }}
  <meta name="description" content="{{ .Content | truncate 200 }}">
  {{ else }}
    {{ if .IsHome }}
      <meta name="description" content="A scrapbook, a journal, and a logbook.">
    {{ else }}
      <meta name="description" content="{{ .Content | truncate 200 }}">
    {{ end }}
  {{ end }}
  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <link rel="icon" type="image/png" href="{{ "favicon.png" | absURL }}" />
  <link rel="apple-touch-icon" href="{{ "favicon.png" | absURL }}" type="image/png"/>
  <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
  <link rel="manifest" href="/manifest.json"/>
  <meta name="author" content="really.lol"/>
  <meta name="robots" content="index,follow"/>
  <meta name="theme-color" content="#2C471F" />
  <meta name="supported-color-schemes" content="light dark"/>
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:locale" content="{{ .Site.LanguageCode }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:title" content="{{ if eq .Kind "term" }}{{ partial "tag-pretty-name.html" (dict "tagName" .Title "Site" .Site) }}{{ else if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}" />
  <meta property="og:type" content="article" />
  {{ if .Params.image }}
  {{ $imagePath := .Params.image }}
  {{ $ogSrc := "" }}
  {{ if $imagePath }}
    {{ $relativePath := strings.TrimPrefix "/" $imagePath }}
    {{ $resource := "" }}
    {{ with .Resources.GetMatch $relativePath }}
      {{ $resource = . }}
    {{ else }}
      {{ with resources.Get $relativePath }}
        {{ $resource = . }}
      {{ end }}
    {{ end }}
    {{ with $resource }}
      {{ $ogImage := .Fit "1200x1200" }}
      {{ $ogSrc = $ogImage.RelPermalink | absURL }}
    {{ end }}
  {{ end }}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ if $ogSrc }}{{ $ogSrc }}{{ else }}{{ $imagePath }}{{ end }}">
  <meta name="twitter:image" content="{{ if $ogSrc }}{{ $ogSrc }}{{ else }}{{ $imagePath }}{{ end }}">
  {{ else }}
  <meta name="twitter:card" content="summary" />
  {{ end }}

  {{ if or (eq .Section "note") (eq .Section "post") }}
    <meta name="twitter:description" content="{{ .Content | truncate 100 }}">
  {{ end }}
</head>
