{{ $pag := .Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav class="pagination">
  <div class="prev-wrapper">
  {{ if $pag.Prev }}
    {{ with $pag.Prev }}
      <a href="{{ .URL }}">Back</a>
    {{ end }}
  {{ else }}
      <span>Back</span>
  {{ end }}
  </div>

  <span class="page-count">{{ $pag.PageNumber }} of {{ $pag.TotalPages }}</span>
  
  <div class="next-wrapper">
  {{ if $pag.Next }}
    {{ with $pag.Next }}
      <a href="{{ .URL }}">Next</a>
    {{ end }}
  {{ else }}
      <span>Next</span>
  {{ end }}
  </div>
</nav>
{{ end }}
