{{ $srcParam := .Get "src" }}
{{ $relative := strings.TrimPrefix "/" $srcParam }}
{{ with resources.Get $relative }}
  {{ if in $relative ".gif" }}
    <img src="{{ .RelPermalink }}" {{ with .Get "alt" }}alt="{{.}}"{{ else }}alt=""{{ end }}>
  {{ else }}
    {{ $resized := .Resize "1000x" }}
    <img src="{{ $resized.RelPermalink }}" {{ with .Get "alt" }}alt="{{.}}"{{ else }}alt=""{{ end }}>
  {{ end }}
{{ else }}
  <img src="{{ $srcParam }}" {{ with .Get "alt" }}alt="{{.}}"{{ else }}alt=""{{ end }}>
{{ end }}
