<div class="site-header-wrapper">
  <header class="site-header">
    <h1><a href="{{ "/" | absURL }}">really.lol</a></h1>
    <nav>
      <ul>
        <li><a href="{{ "post" | absURL }}">Posts</a></li>
        <li><a href="{{ "note" | absURL }}">Notes</a></li>
        <li><a href="{{ "photo" | absURL }}">Photos</a></li>
        <li><a href="{{ "books/reading" | absURL }}">Books</a></li>
        <li><a href="{{ "films/watched" | absURL }}">Films</a></li>
        <li><a href="{{ "links" | absURL }}">Links</a></li>
      </ul>
    </nav>
  </header>
</div>
