---
import Base from "../../layouts/Base.astro";
import { LibraryTimeline } from "../../components/LibraryTimeline";
import PagePreamble from "../../components/PagePreamble.astro";
import { getFilms } from "../../lib/cms-data";

const films = await getFilms("towatch");
const items = (films as Array<{ name: string; year: string | null; date_updated: string }>).map((f) => ({
  title: f.name,
  creator: "",
  date: f.date_updated,
  year: f.year ?? undefined,
}));
---

<Base title="Library" section="library">
  <main>
    <PagePreamble url="/films/towatch" />
    <LibraryTimeline activeTab="films-towatch" items={items} />
  </main>
</Base>
