---
import Base from "../../layouts/Base.astro";
import SubNav from "../../components/SubNav.astro";
import { FilmTable } from "../../components/PaginatedList";
import { getFilms } from "../../lib/cms-data";

const films = await getFilms("watched") as Array<{
  name: string;
  year: string;
  date_updated: string;
}>;
---

<Base title="Watched" section="films">
  <main class="single-main single-main--films">
    <SubNav section="films" />
    <h1 class="single-main__title">Watched</h1>
    <FilmTable films={films} client:load />
  </main>
</Base>
