{{ $src := resources.GetMatch (.Get "src") }}
{{ $caption := .Get "caption" }}

{{ if $caption }}
<figure>
{{ end }}

{{ if in (.Get "src") "http" }}
<img src="{{$src}}" {{ with .Get "alt" }}alt="{{.}}"{{ else }}alt=""{{ end }}>
{{ else }}
{{ if in (.Get "src") ".gif" }}
<img src="{{$src.RelPermalink}}" {{ with .Get "alt" }}alt="{{.}}"{{ else }}alt=""{{ end }}>
{{ else }}

{{ .Scratch.Set "resized" ($src.Resize "1000x") }}
{{ $resized := .Scratch.Get "resized" }}

<img src="{{ $resized.RelPermalink }}" {{ with .Get "alt" }}alt="{{.}}"{{ else }}alt=""{{ end }}>

{{ if $caption }}
<figcaption>{{ $caption }}</figcaption>
</figure>
{{ end }}

{{ end }}
{{ end }}
