{{ $srcParam := .Get "src" }}
{{ $caption := .Get "caption" }}
{{ $alt := .Get "alt" | default "" }}

{{ if $caption }}
<figure>
{{ end }}

{{ $rendered := "" }}
{{ if hasPrefix $srcParam "http" }}
  {{ $rendered = printf "<img src=\"%s\" alt=\"%s\">" $srcParam $alt }}
{{ else }}
  {{ $relative := strings.TrimPrefix "/" $srcParam }}
  {{ with resources.Get $relative }}
    {{ if in $relative ".gif" }}
      {{ $rendered = printf "<img src=\"%s\" alt=\"%s\">" .RelPermalink $alt }}
    {{ else }}
      {{ $resized := .Resize "1000x" }}
      {{ $rendered = printf "<img src=\"%s\" alt=\"%s\">" $resized.RelPermalink $alt }}
    {{ end }}
  {{ else }}
    {{ $rendered = printf "<img src=\"%s\" alt=\"%s\">" $srcParam $alt }}
  {{ end }}
{{ end }}

{{ $rendered | safeHTML }}

{{ if $caption }}
<figcaption>{{ $caption }}</figcaption>
</figure>
{{ end }}
