:root {
  --width-inner: 700px;
  --width-outer: 1000px;
  --font-title: -apple-system, blinkmacsystemfont, 'segoe ui', roboto, oxygen-sans, ubuntu, cantarell, 'helvetica neue', sans-serif;
  --font-base: Charter, Georgia, Times New Roman, times, serif;
  --colour-background: rgb(253,251,244);
  --colour-line: rgb(44,71,31);
  --colour-text: rgb(44,71,31);
  --colour-accent: rgb(87,143,61);
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: #020826;
    --c-body: #fffffe;
    --c-panel-bg: #de2919;
    --c-panel-body: #020826;
  }

  a {
    color: inherit !important;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  line-height: 1.4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour-background: rgb(27,44,19);
    --colour-line: rgb(253,251,244);
    --colour-text: rgb(253,251,244);
  }
}

body {
  margin: 0;
  padding: 1rem;
  font-family: var(--font-base);
  color: var(--colour-text);
  background-color: var(--colour-background);
}

img {
  display: block;
  max-width: 100%;
}


@media screen and (max-width: 800px) {
  html {
    font-size: 1.2em;
  }
}

pre {
  border: 1px solid var(--c-body);
  background: var(--c-bg2);
  color: var(--c-heading);
}

a {
  color: inherit;
  text-decoration-line: underline;
}

img {
  display: block;
  max-width: 100%;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
  border-left: 1px solid var(--colour-line);
}

.highlight pre {
  padding: 1rem;
  border-radius: 3px;
}

figure {
  margin: 2rem 0;
}

figure img {
  display: block;
  width: 100%;
}

figcaption {
  font-style: italic;
}

.box-card {
  padding: 1rem;
  border: 1px solid var(--colour-line);
  box-shadow: 6px 6px 0px var(--colour-line);
  transform: translate(-3px, -3px);
}

.site-header {
  align-self: flex-end;
}

.site-header a {
  color: inherit;
}

.site-header h1 {
  font-family: var(--font-title);
  font-size: 1rem;
  margin: 0;
}

.site-header ul {
  margin-bottom: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
  list-style: none;
}

.media-nav {
  font-size: 1rem;
  margin-top: 1rem;
  flex-shrink: 0;
  max-width: 23rem; 
}

.media-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.media-nav__articles {
  grid-row: 1;
}

.media-nav__books,
.media-nav__read,
.media-nav__reading,
.media-nav__toread {
  grid-row: 2;
}

.media-nav__films,
.media-nav__watched,
.media-nav__towatch {
  grid-row: 3;
}

.media-nav__section {
  font-family: var(--font-title);
  font-weight: bold;  
}

@media screen and (max-width: 800px) {
  .media-nav ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .media-nav__section {
    display: none;
  }
}

.current-box {
  margin-top: 1rem;
  align-self: center;
}

.current-box__key {
  font-family: var(--font-title);
  font-weight: bold;
}

.current-box__key a {
  text-decoration: none;
}

.current-box p {
  margin: 0;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 2fr 5fr;
}

.current-box p:not(:last-child) {
  margin-bottom: .5rem;
}

.photo-box {
  display: none;
}

.photo-box a {
  display: block;
}

.photo-box img {
  max-width: 20rem;
}

.site-footer {
  margin: 2rem auto 0;
  width: 100%;
  max-width: var(--width-outer);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.site-footer a {
  color: inherit;
}

.site-footer > p:not(:first-child) {
  text-align: right;
  flex-shrink: 0;
}

@media screen and (min-width: 800px) {
  .box-card-row {
    margin: 2rem auto 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: var(--width-outer);
  }

  .site-header {
    margin: 0 0 2rem;
  }

  .box-card-row .box-card:not(:first-child) {
    margin-left: 2rem;
  }

  .current-box {
    margin: 0;
  }

  .photo-box {
    display: block;
  }

  .site-footer {
    margin: 4rem auto 0; 
  }
}

.home-main {
  max-width: var(--width-inner);
  margin: 0 auto;
}

.home-intro {
  margin: 0 auto 4rem;
}

.multi-preview-list svg {
  transform: translateY(2px);
}

.image-item:not(:first-child),
.blog-item,
.highlight-item,
.note-item {
  margin-top: 3rem;
}

.image-item__details {
  border-left: 1px solid var(--colour-line);
  padding: 0 0 .5rem .5rem;
}

.image-item__title {
  margin: 0 0 .5rem;
  font-family: var(--font-title);
  display: flex;
  align-items: center;
}

.image-item__title svg {
  margin-right: .3rem;
}

.image-item__title a {
  color: inherit;
}

.image-item__location,
.image-item__date {
  margin: 0;
  font-style: italic;
  font-size: .8rem;
}

@media screen and (min-width: 800px) {
  .image-item {
    display: flex;
    align-items: flex-start;
  }

  .image-item img {
    width: 500px;
    order: 1;
  }

  .image-item__details {
    order: 2;
    flex-grow: 1;
    border-left: none;
    border-top: 1px solid var(--colour-line);
    padding: .5rem 0 0 .5rem;
  }
}

.highlight-item__title,
.blog-item__title,
.note-item__title {
  margin: 0 0 .2rem;
  font-size: 1.2em;
  font-family: var(--font-title);
}

.highlight-item__title a,
.blog-item__title a,
.note-item__title a {
  color: inherit;
}

.highlight-item__date,
.blog-item__date,
.note-item__date {
  margin: 0;
  font-style: italic;
  font-size: .8rem;
}

.highlight-item__tags,
.blog-item__tags {
  font-size: .8rem;
  margin: 0 0 .2rem;
}

.highlight-item__tags a,
.blog-item__tags a {
  margin-right: .3rem;
  text-decoration: none;
}

.blog-item__tags svg {
  margin-right: -2px;
}

.highlight-item__content blockquote {
  margin: 0;
  padding: 0;
  border-left: 1px solid var(--colour-line);
}

.single-main,
.taxonomy-main,
.section-main,
.plain-main,
.highlight-section-main,
.highlight-main,
.note-main,
.note-section-main {
  margin: 0 auto;
  max-width: var(--width-inner);
}

.pagination {
  margin: 2rem auto 0;
  display: flex;
  justify-content: center;
}

.pagination > *:not(:last-child) {
  margin-right: 1rem;
}


.single-main-title,
.single-main__title {
  margin-bottom: .5rem;
}

.single-main svg {
  transform: translateY(2px);
}

.single-main__date {
  margin: 0;
  font-size: .8rem;
}

.single-main__tags {
  font-size: .8rem;
  margin: .2rem 0 0;
}

.single-main__tags a {
  margin-right: .3rem;
  text-decoration: none;
}

.single-main__location {
  margin: .2rem 0 0;
  font-size: .8rem;
}

.single-main__content {
  margin-top: 2rem;
}

.single-main__content img {
  margin-bottom: 2rem;
}

.section-item {
  margin-bottom: 2rem;
}

.section-title svg,
.highlight-section-title svg {
  margin-right: -5px;
  transform: translateY(4px);
}

.section-item__title {
  margin: 0 0 .2rem;
}

.section-item__date {
  margin: 0 0 .5rem;
  font-size: .8rem;
  font-style: italic;
}

.section-item__date svg {
  transform: translateY(2px);
}

.highlight-main__content blockquote {
  border-left: 1px solid var(--colour-line);
  padding-left: 1rem;
}

.note-list-item {
  margin-bottom: 2.5rem;
}

.note-list__content,
.note-main__content {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.photo-section-main {
  margin: 0 auto;
  max-width: var(--width-outer);
}

.photo-section-item__title {
  margin-bottom: 0;
}

.photo-section-item__date {
  margin: 0;
  font-size: .8rem;
}

.photo-section-item__location {
  margin: 0;
  font-size: .8rem;
}

.photo-section-item__location svg {
  transform: translateY(2px);
}

@media screen and (min-width: 800px) {
  .photo-section-grid {
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .photo-section-grid img {
    width: 100%;
    height: 15rem;
    object-fit: cover;

  }
}

.highlight-list-item {
  margin-bottom: 4rem;
}

.highlight-list-item__title {
  margin-bottom: .2rem;
}

.highlight-list-item__date {
  font-size: .8rem;
  margin: 0;
}

.taxonomy-section-title svg {
  transform: translateY(3px); 
}

.see-also h2 {
  margin-bottom: .5rem;
}

.see-also ul {
  margin: 0;
  padding: 0 0 0 1rem;
}

table {
  width: 100%;
}

table + h1 {
  margin-top: 0;
}

th {
  text-align: left;
  text-decoration: underline;
}

td {
  padding: .5rem 1rem .5rem 0;
}

.media-table {
  display: block;
}

.media-table__date {
  min-width: 12ch;
}

.media-table__author {
  min-width: 15ch;
}

@media screen and (max-width: 800px) {
  .media-table--book .media-table__date,
  .media-table--articles .media-table__date {
    display: none;
  }

  td {
    padding: .5rem .5rem .5rem 0;
  }
}
