{{ define "main" }}
{{ $data := first 1 $.Site.Data.books.reading }}
<div class="home-main">
  <div class="home-intro">
  {{ .Content }}
  <div class="home-component">
    <div class="home-component__reading">
      <dt>Reading</dt>
      {{ range $data }}
      <dd><span>{{ .title }}</span> by {{ .author }}</dd>
      {{ end }}
    </div>
    {{ with resources.Get "img/layout/solar-system.jpg" }}
      {{ $solar := .Resize "800x" }}
      <img alt="A line drawing of the solar system" class="home-hero-image" src="{{ $solar.RelPermalink }}">
    {{ end }}
  </div>
  </div>
</div>
{{ end }}
