{{ define "main" }}
<main class="section-main{{ if eq .Section "post" }} section-main--post{{ end }}">
  {{ if or (eq .Section "books") (eq .Section "films") (eq .Section "media") }}
    {{ partial "media-nav.html" . }}
  {{ end }}
  {{ if eq .Section "post" }}
  <img
    alt="A watercolor illustration of mushrooms"
    class="section-hero-image--post"
    src="/img/layout/mushrooms.png"
  />
  {{ end }}
  <h1 class="section-title">
    {{ if eq .Section "post" }}Posts{{ else }}{{ .Title }}{{ end }}
  </h1>
  {{ .Content }} {{ if ne .Section "media" }} {{ $paginator := .Paginate .Pages
  }}
  <div class="multi-preview-list">
    {{ range $paginator.Pages }}
      {{- partial "multi-preview.html" . -}}
    {{ end }}
  </div>
  {{- partial "pagination.html" . -}} {{ end }}
</main>
{{ end }}
