{{ define "main" }}
<main class="note-section-main">
<header class="note-section-header">
  {{ with resources.Get "img/layout/angel-small.png" }}
  {{ $angel := .Resize "800x" }}
  <img
    alt="A statue of an angel"
    class="section-hero-image--note"
    src="{{ $angel.RelPermalink }}"
  />
  {{ end }}
  <h1 class="note-list-title">{{ .Title }}</h1>
</header>
{{ .Content }}
{{ $paginator := .Paginate .Pages }}
{{ range  $paginator.Pages }}
<article class="note-list-item">
  <div class="note-list__content">{{ .Title }}</div>
  <time class="note-list__date"
        datetime="{{ .Date.Format "2006-01-02T15:04:05.000Z" }}">
    <a href="{{ .Permalink }}">
      {{ .Date.Format "2 Jan 2006" }}
    </a>
  </time>
</article>
{{ end }}
{{- partial "pagination.html" . -}}
</main>
{{ end }}
