  {{ if eq "photo" .Type }}
  <article class="image-item">
  <div class="image-item__details">
    <p class="image-item__title">
      {{ partial "icons/capture.html" . }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </p>
    <p class="image-item__location">
      {{ partial "icons/location.html" . }}
      <span>{{ .Params.location }}</span>
    </p>
    <p class="image-item__date">
      {{ partial "icons/calendar.html" . }}
      {{ .Date.Format "2006-01-02" }}
    </p>
  </div>
  <img src="{{ .Params.image }}" />
  </article>
  {{ else if eq "highlight" .Type }}
  <article class="highlight-item">
  <p class="highlight-item__title">
    {{ partial "icons/paperclip.html" . }}
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </p>
  {{ if (.GetTerms "tags") }}
    <p class="highlight-item__tags">
    {{ range (.GetTerms "tags") }}
    <a href="{{ .Permalink }}">{{ partial "icons/tag.html" . }}{{ .LinkTitle }}</a>
    {{ end }}
    </p>
  {{ end }}
  <p class="highlight-item__date">
    {{ partial "icons/calendar.html" . }}
    {{ .Date.Format "2006-01-02" }}
  </p>
  {{ .Summary }}
  </article>
  {{ else if eq "post" .Type }}
  <article class="blog-item">
  <p class="blog-item__title">
    {{ partial "icons/pen.html" . }}
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </p>
  {{ if (.GetTerms "tags") }}
    <p class="blog-item__tags">
    {{ range (.GetTerms "tags") }}
    <a href="{{ .Permalink }}">{{ partial "icons/tag.html" . }}{{ .LinkTitle }}</a>
    {{ end }}
    </p>
  {{ end }}
  <p class="blog-item__date">
    {{ partial "icons/calendar.html" . }}
    {{ .Date.Format "2006-01-02" }}
  </p>
  {{ .Summary }}
  </article>
  {{ else if eq "note" .Type }}
  <article class="note-item">
  <p class="note-item__title">
    {{ partial "icons/speech.html" . }}
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </p>
  <p class="note-item__date">
    {{ partial "icons/calendar.html" . }}
    {{ .Date.Format "2006-01-02" }}
  </p>
  </article>
  {{ else }}
  {{ end }}
