{{ $reading := $.Site.Data.books.reading | first 1 }}
{{ $watched := $.Site.Data.films.watched | first 1 }}

<div class="box-card-row">
  <header class="site-header box-card">
    <h1><a href="{{ "/" | absURL }}">Jack Reid</a></h1>
    <nav>
      <ul>
        <li><a href="{{ "post" | absURL }}">Blog</a></li>
        <li><a href="{{ "photo" | absURL }}">Photo</a></li>
        <li><a href="{{ "highlight" | absURL }}">Highlights</a></li>
        <li><a href="{{ "links" | absURL }}">Links</a></li>
        <li><a href="{{ "work" | absURL }}">Work</a></li>
      </ul>
    </nav>
  </header>
  <section class="box-card photo-box">
    {{ range where .Site.RegularPages "Section" "photo" | shuffle | first 1 }}
      <a class="photo-box__link" href="{{ .Permalink }}">
        <img class="photo-box__image" src="{{ .Params.image }}" alt="">
      </a>
    {{ end }}
  </section>
</div>
