<div class="site-header-wrapper">
  <header class="site-header">
    <h1><a href="{{ "/" | absURL }}">Jack Reid</a></h1>
    <nav>
      <ul>
        <li><a href="{{ "post" | absURL }}">Blog</a></li>
        <li><a href="{{ "photo" | absURL }}">Photos</a></li>
        <li><a href="{{ "books/reading" | absURL }}">Books</a></li>
        <li><a href="{{ "films/watched" | absURL }}">Films</a></li>
        <li><a href="{{ "links" | absURL }}">Links</a></li>
        <li><a href="{{ "work" | absURL }}">Work</a></li>
      </ul>
    </nav>
  </header>

  <nav class="media-header">
    <ul>
      <li><a href="{{ "/books/toread" | absURL }}">To Read</a></li>
      <li><a href="{{ "/books/reading" | absURL }}">Reading</a></li>
      <li><a href="{{ "/books/read" | absURL }}">Read</a></li>
      <li><a href="{{ "/films/towatch" | absURL }}">To Watch</a></li>
      <li><a href="{{ "/films/watched" | absURL }}">Watched</a></li>
  
    </ul>
  </nav>
</div>