{{ $scratch := newScratch }}

{{ $data := "nil" }}

{{ $key := .Get "key" }}
{{ $scratch.Set "limit" (.Get "limit" | default 10000) }}

{{ if eq $key "saved" }}
  {{ $data = first ($scratch.Get "limit") $.Site.Data.all_articles }}
{{ else if eq $key "liked" }}
  {{ $data = first ($scratch.Get "limit") $.Site.Data.fave_articles }}
{{ end }}

<table class="media-table media-table--articles">
  <thead>
    <tr>
      <th>Title</th>
      <th class="media-table__date">Date</th>
    </tr>
  </thead>
  <tbody>
    {{ range $data }}
    <tr>
      <td class="media-table__title"><a href="{{ .url }}">{{ .title }}</a></td>
      <td class="media-table__date">{{ dateFormat "2006-01-02" .date_updated }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
