{{ $scratch := newScratch }}

{{ $data := "nil" }}

{{ $key := .Get "key" }}
{{ $scratch.Set "limit" (.Get "limit" | default 10000) }}

{{ if eq $key "watched" }}
  {{ $data = first ($scratch.Get "limit") $.Site.Data.films.watched }}
{{ else if eq $key "towatch" }}
  {{ $data = first ($scratch.Get "limit") $.Site.Data.films.towatch }}
{{ end }}

<table class="media-table media-table--film">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {{ range $data }}
    <tr>
      <td class="media-table__date">{{ dateFormat "2006-01-02" .date_updated }}</td>
      <td class="media-table__title">{{ .name }} ({{ .year }})</td>
    </tr>
    {{ end }}
  </tbody>
</table>
