---
---
<div class="site-header-wrapper">
  <header class="site-header">
    <h1><a href="/">really.lol</a></h1>
    <nav aria-label="Main navigation">
      <ul>
        <li><a href="/post/">Posts</a></li>
        <li><a href="/note/">Notes</a></li>
        <li><a href="/photo/">Photos</a></li>
        <li><a href="/books/reading/">Books</a></li>
        <li><a href="/films/watched/">Films</a></li>
        <li><a href="/links/saved/">Links</a></li>
      </ul>
    </nav>
  </header>
</div>
