{{ define "main" }}
<main class="photo-section-main">
<h1 class="default-section-title">{{ .Title }}</h1>
{{ .Content }}
{{ $paginator := .Paginate .Pages 24 }}
<div class="photo-section-grid">
{{ range  $paginator.Pages }}
{{ $imagePath := .Params.image }}
{{ $thumbSrc := "" }}
{{ if $imagePath }}
  {{ $relativePath := strings.TrimPrefix "/" $imagePath }}
  {{ with resources.Get $relativePath }}
    {{ $thumb := .Fit "500x500" }}
    {{ $thumbSrc = $thumb.RelPermalink }}
  {{ end }}
{{ end }}
<article class="photo-section-item">
  <a href="{{ .Permalink }}">
    <img src="{{ if $thumbSrc }}{{ $thumbSrc }}{{ else }}{{ $imagePath }}{{ end }}" alt="{{ .Title }}">
  </a>

  <h3 class="photo-section-item__title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h3>

  <p class="photo-section-item__date">
    {{ partial "icons/calendar.html" . }}
    {{ .Date.Format "2006-01-02" }}
  </p>
  {{ if .Params.location }}
  <p class="photo-section-item__location">
    {{ partial "icons/location.html" . }}
    <span>{{ .Params.location }}</span>
  </p>
  {{ end }}
</article>
{{ end }}
</div>
{{- partial "pagination.html" . -}}
</main>
{{ end }}
