img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration-line: underline;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: var(--spacing-md);
  border-left: 1px solid var(--color-line);
}

hr {
  border: none;
  border-top: 1px solid var(--color-line);
  margin: var(--spacing-md) 0;
  box-shadow: none;
}

figure {
  margin: var(--spacing-lg) 0;
  text-align: center;

  img {
    display: inline-block;
    max-width: min(100%, var(--width-inner));
    height: auto;
  }
}

.shortcode-image {
  margin: var(--spacing-lg) 0;
  text-align: center;

  img {
    display: inline-block;
    max-width: min(100%, var(--width-inner));
    height: auto;
  }
}

figcaption {
  font-style: italic;
  margin-top: var(--spacing-sm);
}

table {
  width: 100%;

  + h1 {
    margin-top: 0;
  }
}

th {
  text-align: left;
  text-decoration: underline;
}

td {
  padding: var(--spacing-base) var(--spacing-md) var(--spacing-base) 0;
}
