* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

html,
body {
  min-height: 100vh;
  line-height: 1.4;
}

body {
  margin: 0;
  padding: var(--spacing-md);
  font-family: var(--font-base);
  color: var(--color-text);
  background-color: var(--color-background);
}

@media screen and (max-width: var(--breakpoint-md)) {
  html {
    font-size: 1.2em;
  }
}
