---
const now = new Date();
const lastUpdated = now.toLocaleString("en-GB", {
  hour: "2-digit",
  minute: "2-digit",
  day: "numeric",
  month: "long",
  year: "numeric",
});
---
<footer class="site-footer">
  <div class="site-footer__links">
    <a rel="me" href="https://social.lol/@nice">@nice</a>
    <a href="/now">/now</a>
    <a href="/index.xml">RSS</a>
  </div>
  <div class="site-footer__meta">
    Fresh as of {lastUpdated}
  </div>
</footer>
