---
import Base from "../../layouts/Base.astro";
import { LibraryTimeline } from "../../components/LibraryTimeline";
import { getBooks, getFilms } from "../../lib/cms-data";

const [booksRead, booksReading, booksToRead, filmsWatched, filmsToWatch] =
  await Promise.all([
    getBooks("read"),
    getBooks("reading"),
    getBooks("toread"),
    getFilms("watched"),
    getFilms("towatch"),
  ]);

function mapBooks(books: Array<{ title: string; author: string; date_updated: string }>) {
  return books.map((b) => ({
    title: b.title,
    creator: b.author,
    date: b.date_updated,
  }));
}

function mapFilms(films: Array<{ name: string; year: string; date_updated: string }>) {
  return films.map((f) => ({
    title: f.name,
    creator: "",
    date: f.date_updated,
    year: f.year,
  }));
}

const uniqueAuthors = new Set(booksRead.map((b: any) => b.author)).size;

const data = {
  booksRead: mapBooks(booksRead as any),
  booksReading: mapBooks(booksReading as any),
  booksToRead: mapBooks(booksToRead as any),
  filmsWatched: mapFilms(filmsWatched as any),
  filmsToWatch: mapFilms(filmsToWatch as any),
  bookCount: (booksRead as any[]).length + (booksReading as any[]).length + (booksToRead as any[]).length,
  authorCount: uniqueAuthors,
  filmCount: (filmsWatched as any[]).length + (filmsToWatch as any[]).length,
};
---

<Base title="Library" section="library">
  <main>
    <LibraryTimeline data={data} client:load />
  </main>
</Base>
